<form method="post" action="/messages">
  <label for="message">Message:</label>
  <textarea type="text" col="40" row="5" id="message" name="message"></textarea><br>
  <button>Submit</button>
</form>

<% messages.each do |message| %>

  <li>
    <%= message["message"] %>
    <form action="/messages/<%= message["id"] %>/edit" method="get">
      <button>Edit</button>
    </form>
  </li>

<% end %>

